# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm and Rider
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
.idea/**/digitRecognizer.iml
.idea/**/misc.xml
.idea/**/modules.xml
.idea/vcs.xml
.idea/**/inspectionProfiles/Profile_settings.xml
.csv
